
body{
    background-color: #e7e2e2;
}

.fira-sans-normal{
  font-family: "fira Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* nav styles */
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px 24px 160px;
}

nav ul li{

    list-style: none;
    font-size: 32px;
    color: black;
    font-weight: 20px;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
/* sign-in */
.btn-sign-in{
    background-color: #F5F5F5;
    color: #006A50;
    font-weight:500;
    font-size: 15px;
    border-radius: 6px;
    border-color: #006A50;
    padding: 15px 30px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-evenly;
    margin-left: 160px;
    margin-right: 160px;
}
.banner-title{
    color: #767575;
    margin-left: 0;
}

div{
    background-color: #C6E4D6;
    border-radius: 15px;
    margin-right: 160px;
    text-align: left;
    padding:30px 30px ;
}

.banner-pic{
    width: 480px;
    padding-right: 80px 60px 80px;
}

.btn-new-bang{
    color: white;
    background-color: #006A50;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    padding: 18px 32px;
}
/* visions */
.visions{
    margin-top: 120px;
    margin-left: 160px;
    margin-right: 160px;
}
.visions-3box{
    display: flex;
    background-color:white;
    justify-content: space-evenly;
    width: 850px;
    height: 400px;
}
.vision-b1{
background-color: rgba(84, 144, 245, 0.2);

}

.vision-b2{
    background-color: rgb(198, 228, 214);

}

.vision-b3{
background-color: rgb(247, 235, 207);
}

.vision-btn1{
    background-color: rgb(84, 144, 245);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    padding: 5px 15px;
}

.vision-btn2{
    background-color: rgb(9, 161, 92);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    padding: 5px 15px;
}

.vision-btn3{
    background-color: rgb(255, 194, 57);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    padding: 5px 15px;
}