
body{
    background-color: #e7e2e2;
}

.fira-sans-normal{
  font-family: "fira Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* nav styles */
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px 24px 160px;
}

nav ul li{

    list-style: none;
    font-size: 32px;
    color: black;
    font-weight: 20px;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
/* sign-in */
.btn-sign-in{
    background-color: #F5F5F5;
    color: #006A50;
    font-weight:500;
    font-size: 15px;
    border-radius: 6px;
    border-color: #006A50;
    padding: 15px 30px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 160px 0 160px;
    background-color: #C6E4D6;
    border-radius: 15px;
    padding:35px 35px 35px;
}
.banner-content{
    margin: 25px 0 0 20px;
}
.banner-title{
    color: #767575;
    margin-left: 0;
}

.banner-pic{
    width: 480px;
    padding-right: 80px 60px 80px;
}

.btn-new-bang{
    color: white;
    margin: 30px 0 0 0;
    background-color: #006A50;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    padding: 18px 32px;
}
/* visions */
.visions{
    margin: 20px 160px 0 160px;
    
}
.visions-3box{
    display: flex;
    gap: 25px;
}
.vision-b1{
background-color: rgba(84, 144, 245, 0.2);
padding: 30px;
border-radius: 15px;

}

.vision-b2{
    background-color: rgb(198, 228, 214);
    padding: 30px;
    border-radius: 15px;
}

.vision-b3{
background-color: rgb(247, 235, 207);
padding: 30px;
border-radius: 15px;
}

.vision-btn1{
    background-color: rgb(84, 144, 245);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    padding: 5px 15px;
}

.vision-btn2{
    background-color: rgb(9, 161, 92);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    padding: 5px 15px;
}

.vision-btn3{
    background-color: rgb(255, 194, 57);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    padding: 5px 15px;
}